body {
    height: 100%;
    width: 100%;
    background-image: url(images/TDbackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: relative;
    opacity: .7;
}


header {
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
    font-size: 7em;
    background-color: orange;
    position: fixed;
    padding-top: 50px;
    top: 0;
    left: 0;
    right: 0;
    height: 200px;
}

.container {
    display: flex;
}

.nav-container {
    font-size: 20px;
    position: absolute;
    flex-direction: row;
}

.content-container {
    flex-direction: row;
}

ul {
    list-style-type: none;
    overflow: auto;
    background-color: orange;
    padding-top: 10px;    
  }

  li {
      font-family: 'Montserrat', sans-serif;;
      display: inline;
      text-align: center;
      text-decoration: none;
      padding-left: 190px;
      padding-right: 120px;
  }

  a {
    padding: 15px;
    color: black;
    text-decoration: none;
  }

  a:hover {
      color: white;
      font-weight: bold;
  }

.fb-container {  
    display: inline;
    margin-left: auto;
    margin-right: auto;
}

  .flip-card {
    position: relative;
    font-family: 'Montserrat', sans-serif; ;
    background-color: white;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
  }

  .flip-card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

 .flip-card:hover .flip-card-inner {
     transform: rotateY(180deg);
    }

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

      .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        /* -webkit-backface-visibility: hidden; Safari */
        backface-visibility: hidden;
      }

      .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
      }