body,
html {
  background-image: url("images/TDbackground.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.header {
  padding: 20px;
  text-align: center;
  background: orange;
  color: white;
  font-size: 30px;
}

.header h1 {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 5px;
  font-size: 100px;
  margin: 0;
}

.header p {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  letter-spacing: 3px;
}

footer {
  font-family: "Bebas Neue", cursive;
  color: white;
  background: black;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
}

/* for the nav menu */
.drop-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* Don't show menu items initially, until menu toggle clicked, mobile first */
.drop-link {
  order: 2; /* comes after logo and mobile-toggle */
  width: 100%;
  text-align: center;
  display: none; 
}

.drop-links li a {
  display: block;
  padding: 15px 5px;
}

.active .drop-link {
  display: block; /* show menu items when active */
}
/* Hamburger menu */
.mobile-toggle {
  order: 1; /* comes before the nav menu items */
  font-size: 20px;
}

ul {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  list-style-type: none;
  margin: 0px;
  padding: 20px;
  background-color: rgb(39, 37, 35);
}

li {
  display: inline;
}

li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  text-align: center;
  /* width: 20%; */
  /* padding-right: 40px;
  padding-left: 40px; */
}

.home {
  margin-left: auto;
  margin-right: auto;
}

.home h1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: "Bebas Neue", cursive;
  color: black;
  font-size: 100px;
}

.home p {
  margin-left: auto;
  margin-right: auto;
  background-color: #6c665a;
  border-radius: 25px;
  width: 350px;
  height: auto;
  box-shadow: 10px 10px black;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  font-size: 15px;
}

/* Contact Flexbox */

.cf {
  display: flex;
}

.home form {
  margin-left: auto;
  margin-right: auto;
  background-color: #6c665a;
  border-radius: 25px;
  width: 300px;
  height: auto;
  box-shadow: 10px 10px black;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  font-size: 15px;
}

.message-field {
  height: 50px;
  width: 200px;
}

.button {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  background-color: orange;
  border-radius: 5%;
  border: none;
  color: white;
  margin-top: 10px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* Packages Flexbox and styles */

.home-pack h1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: "Bebas Neue", cursive;
  color: black;
  font-size: 100px;
}

.packages {
  display: flex;
  flex-wrap: wrap;
 
}

.pack-box {
  margin-left: auto;
  margin-right: auto;
  background-color: #6c665a;
  border-radius: 25px;
  width: 200px;
  height: auto;
  box-shadow: 10px 10px black;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  font-size: 15px;
  text-align: center;
}
/* Media Queries*/
@media only screen and (max-width: 400px) {
  body, html {
    background-color: orange;
  }

  .home-pack {
    font-size: 50px;
  }

  .packages {
    flex-direction: column;
  }
}

/* Desktop Media Query for screens 700px and up */
@media all and (min-width: 700px) {
  .drop-links {
    align-items: flex-start;
    flex-wrap: nowrap;
  }
  .logo {
    display: none;
  }
  .drop-link {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }
  .mobile-toggle {
    display: none; 
  }
}
